h1,h2{text-align: center;}

p{
    margin: 0 auto;
    width:750px;
}

body{
    background: #ffd97b;
    font-family: 'Calistoga', cursive;
    font-size: 2em;
}
img, video, audio, canvas{
    display: block; 
    margin: 0 auto;
    padding-bottom: 2em}
.credits{font-size: 0.5em;
    color: rgb(200,200,200);
}
#DollCanvas{
    cursor: none;
}